.AboutMe {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  color: black;
  width: 100%;
}

.AboutMe h1 {
  color: var(--base-black, #23242a);
  font-family: Roboto;
  font-size: 66.868px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 73.555px */
  letter-spacing: -3.009px;
  /* float: right; */
  text-align: center;
  margin: 1px 0px 0px -50px;
}
.AboutMe p {
  color: var(--base-black, #23242a);
  font-family: Roboto;
  font-size: 36.006px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 43.207px */
  letter-spacing: -0.36px;
}
.AboutMe img {
  display: flex;
  width: 400px;
  height: 400.292px;
  padding-left: 0px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  margin: 50px;
  float: left;
}
.AboutMe a {
  color: var(--base-primary, #0e6fff);
  font-family: Roboto;
  font-size: 27.004px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 36.456px */
  letter-spacing: -0.27px;
  text-decoration-line: underline;
}
@media only screen and (max-width: 768px) {
  .AboutMe{
    display: flex;
    flex-direction: column;
  }
  .AboutMe img{
    /* align-items: center; */
   justify-content: center;
   margin-left: 150px;

  }
}
