.chartComp {
  color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  position: relative;
  height: 43vw;
}

.Year,
.City,
.State,
.Element {
  width: 400px;
  height: 30px;
  margin-bottom: 30px;
}
.chartComp select {
  border: 1px solid rgb(188, 188, 188);
  height: 40px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.Element_chart {
  border-radius: 7px;
}

@media only screen and (max-width: 768px) {
  .chartComp {
    width: 100vw;
    padding: 10px;
    left: 0;
    font-size: 2rem;
    height: 200vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Year,
  .City,
  .State,
  .Element {
    display: block;
    width: 80%;
    margin: 5px auto;
    height: 20vw;
    font-size: 1.3rem;
  }
}
