.container {
  /* display: flex; */
  border: 2px solid;
  border-color: black;
  height: 99%;
  border-radius: 10px;
  margin-left: 3px;
  margin-top: 4px;
  background-color: #eae5e5;
  /* margin-bottom: 8px; */
}
.chartComp {
  color: black;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  padding: 10px;
  position: relative;
  height: 43vh;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 32px;
  color: black;
  display: flex;
  justify-content: center;
  font-family: poppins;
}

/* .form {
  border: 1px solid;
  height: max-content;
  padding: 15px;
} */
.sel {
  font-family: poppins;
}
.Year,
.City,
.State,
.Element {
  width: 400px;
  height: 30px;
  margin-bottom: 30px;
}
.chartComp select {
  border: 1px solid rgb(188, 188, 188);
  background-color: transparent;
  color: black;
  height: 40px;
  border-radius: 5px;
  font-size: 1.1rem;
  text-align: center;
}

.Element_chart {
  border-radius: 7px;
}

.chart-container {
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  .container{
    margin: 0;
  }
  .chartComp {
    width: 100vw;
    padding: 10px;
    left: 0;
    height: 150vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .chartComp h1, .heading{
    font-size: 1.5rem;
    line-height: 1.16;
    letter-spacing: -0.05rem;
  }

  .Year,
  .City,
  .State,
  .Element {
    display: block;
    width: 80%;
    margin: 5px auto;
    height: 20vw;
    font-size: 1rem;
  }
}
