.chartComp {
  color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  position: relative;
  height: 43vw;
}

.Year,
.City,
.State,
.Element {
  width: 400px;
  height: 30px;
  margin-bottom: 30px;
}

.Element_chart {
  border-radius: 7px;
}

@media only screen and (max-width: 768px) {
  .chartComp {
    width: 100%;
    padding: 10px;
    left: 0;
    font-size: 2rem;
    height: 200vh;
    flex-direction: column;
  }

  .Year,
  .City,
  .State,
  .Element {
    width: 100%;
    margin-bottom: 20px;
    height: 20vw;
    font-size: 1.3rem;
  }
}
