.carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrow{
    font-size: 47px;
    color: #99CC02;
    cursor: pointer;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-title{
    font-size: 120px;
    font-weight: 900;
    line-height: 140px;
}

.title-button{
    background-color: #99CC02;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: -3%;
    padding: 14px 31px;
    outline: 0;
    border: none;
    border-radius: 6px;
}

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('/about.png');
    background-repeat: no-repeat;
    background-size: cover;
}