header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: black;
    padding: 0px 40px;
    height: 7vh;
    z-index: 100;
}

nav{
    width: 30%;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    margin: auto,0;
    padding: 0;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
}