/* .Legend{
    background-color: aqua;
    padding: 5px;
    margin: 5px;
    color: wheat;
} */
@media only screen and(max-width:768px) {
  .chart {
    width: 10%;
  }
  .LineChart{
    width: 50%;
  }
}
