.leaflet-container {
  position: relative;
  background-color: #eae5e5;
}
.DemographicForm {
  color: black;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
}
.DemographicForm h3 {
  font-size: 2rem;
}
.DemographicYear {
  margin-top: 35px;
}
.DemographicChecks {
  margin: 40px;
}
.legend-container{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
.DemographicMap {
  flex-grow: 1;
  margin-top: 50px;
}

@media only screen and (max-width:769px){
  .DemographicForm{
    flex-direction: column;
  }
  .leaflet-container{
    margin: 0 auto;
  }
}
